<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Neuron Template - About</title>
    <!--

Template 2085 Neuron

http://www.tooplate.com/view/2085-neuron

-->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet" />
  </head>
  <body>
    <!-- PRE LOADER -->

    <div class="preloader">
      <div class="sk-spinner sk-spinner-wordpress">
        <span class="sk-inner-circle"></span>
      </div>
    </div>

    <!-- Navigation section  -->

    <%- include('../partials/nav', {page:'about'})%>

    <!-- Home Section -->

    <section id="home" class="main-about parallax-section">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h1>About Me</h1>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 col-sm-12">
            <!-- <div class="col-md-4 col-sm-4">
              <h2>Our Story</h2>
              <p>
                Integer eget tortor justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                cubilia.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <strong>Ut enim ad minim veniam, quis nostrud</strong> exercitation ullamco.
              </p>
            </div>

            <div class="col-md-4 col-sm-4">
              <h2>New Design</h2>
              <p>
                Quisque vitae felis eros. Suspendisse quis leo molestie, iaculis sapien id, hendrerit augue. Phasellus
                fermentum.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit Ut enim ad minim veniam, quis nostrud
                exercitation.
              </p>
            </div>

            <div class="col-md-4 col-sm-4">
              <h2>HTML CSS</h2>
              <p>
                Vivamus non scelerisque ex, et interdum leo. In bibendum lacus vitae felis egestas, at consectetur metus
                facilisis.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit Ut enim ad minim veniam, quis nostrud
                exercitation.
              </p>
            </div> -->

            <div class="col-md-6 col-sm-6">
              <h3>Fully Customizable!</h3>
              <p>
                Maecenas quis pulvinar neque, non dapibus orci. Integer non suscipit dui. In eu tempor sapien.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras porta
                lacus ac sagittis imperdiet. Vestibulum eget mattis quam.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita.
              </p>
            </div>

            <div class="col-md-6 col-sm-6 mb-1">
              <img src="images/me.jpg" class="img-responsive" alt="About Image" />
            </div>

            <div class="clearfix"></div>
            <h3>Technologies</h3>
            <div class="col-md-2 col-sm-2 mb-1">
              <img src="images/tech/html.png" class="img-responsive" alt="Blog Image" />
              <!-- <h3>Section One</h3>
              <p>
                Pellentesque lobortis velit mi, sed volutpat enim facilisis at. Maecenas quis pulvinar neque, non
                dapibus orci.
              </p> -->
            </div>

            <div class="col-md-2 col-sm-2 mb-1">
              <img src="images/tech/css.png" class="img-responsive" alt="Blog Image" />
            </div>

            <div class="col-md-2 col-sm-2 mb-1">
              <img src="images/tech/js.png" class="img-responsive" alt="Blog Image" />
            </div>

            <div class="col-md-2 col-sm-2 mb-1">
              <img src="images/tech/nodejs.png" class="img-responsive" alt="Blog Image" />
            </div>
            <div class="col-md-2 col-sm-2 mb-1">
              <img src="images/tech/react.png" class="img-responsive" alt="Blog Image" />
            </div>
            <div class="col-md-2 col-sm-2 mb-1">
              <img src="images/tech/solidity.jpeg" class="img-responsive" alt="Blog Image" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->

    <%- include('../partials/footer')%>
    <!-- Back top -->
    <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

    <!-- SCRIPTS -->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.parallax.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://kit.fontawesome.com/4210f2aac8.js" crossorigin="anonymous"></script>
  </body>
</html>
