<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>About</title>
    <!--

Template 2085 Neuron

http://www.tooplate.com/view/2085-neuron

-->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet" />
  </head>
  <body>
    <!-- PRE LOADER -->

    <div class="preloader">
      <div class="sk-spinner sk-spinner-wordpress">
        <span class="sk-inner-circle"></span>
      </div>
    </div>

    <!-- Navigation section  -->

    <%- include('../partials/nav', {page:'about'})%>

    <!-- Home Section -->

    <section id="home" class="main-about parallax-section">
      <div class="overlay"></div>
      
      </div>
    </section>

    <!-- About Section -->

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 col-sm-12">
            <!-- <div class="col-md-4 col-sm-4">
              <h2>Our Story</h2>
              <p>
                Integer eget tortor justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                cubilia.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <strong>Ut enim ad minim veniam, quis nostrud</strong> exercitation ullamco.
              </p>
            </div>

            <div class="col-md-4 col-sm-4">
              <h2>New Design</h2>
              <p>
                Quisque vitae felis eros. Suspendisse quis leo molestie, iaculis sapien id, hendrerit augue. Phasellus
                fermentum.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit Ut enim ad minim veniam, quis nostrud
                exercitation.
              </p>
            </div>

            <div class="col-md-4 col-sm-4">
              <h2>HTML CSS</h2>
              <p>
                Vivamus non scelerisque ex, et interdum leo. In bibendum lacus vitae felis egestas, at consectetur metus
                facilisis.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit Ut enim ad minim veniam, quis nostrud
                exercitation.
              </p>
            </div> -->

            <div class="col-md-6 col-sm-6">
              <h3>About Me</h3>
              <h4>I'm a Web Developer from the Midwestern U.S. living in Berlin.</h4>
              <p>
                I have a Bachelor's of Science degree in Hospitality and Tourism Management from Purdue University. After university I spent most of my 20's traveling the world and leading tours through the National Parks and Cities of the United States with a small-group travel company called G Adventures.Looking for a new challenge and to further my self-growth I decided to transition into tech, as I have always been fascinated by it and the solutions that it brings.

              </p>
              <p>
                Last year I attended a Full-Stack Developer course with the Digital Career Institute in Germany. I chose this lengthier program as I wanted to lay a robust foundation from which I could build my future career in tech. I love to write code, build things, and enjoy the problem-solving and complexity which it entails.    
              </p>
              <p>  
                I'm fascinated by blockchain technology and the potential for it to solve many of the world's problems. When I'm not writing code I like to travel, hike, meditate, do yoga, lift weights, and cook.  
              </p>
            </div>

            <div class="col-md-6 col-sm-6 mb-1">
              <img src="images/me.jpg" class="img-responsive" alt="About Image" />
            </div>

            <div class="clearfix"></div>
            <h3>Technologies</h3>
            <div class="col-md-2 col-sm-2 mb-1">
              <img src="images/tech/html.png" class="img-responsive" alt="Blog Image" />
            </div>

            <div class="col-md-2 col-sm-2 mb-1">
              <img src="images/tech/css.png" class="img-responsive" alt="Blog Image" />
            </div>

            <div class="col-md-2 col-sm-2 mb-1">
              <img src="images/tech/js.png" class="img-responsive" alt="Blog Image" />
            </div>

            <div class="col-md-2 col-sm-2 mb-1">
              <img src="images/tech/nodejs.png" class="img-responsive" alt="Blog Image" />
            </div>
            <div class="col-md-2 col-sm-2 mb-1">
              <img src="images/tech/react.png" class="img-responsive" alt="Blog Image" />
            </div>
            <div class="col-md-2 col-sm-2 mb-1">
              <img src="images/tech/solidity.jpeg" class="img-responsive" alt="Blog Image" />
            </div>
            <div class="clearfix"></div>
            <h3 class="">Projects</h3>

            <div class="col-md-3 col-sm-2 mb-1">
              <h5 class="text-size-25">Crypto App</h5>
              <img src="images/projects/cryptoapp2.png" class="img-responsive" alt="Project Screenshot" />
              <div class="d-flex flex-column justify-content-center align-items-center">
                <a target="_blank" href="https://github.com/jameslange/cryptoapp">Github Repository</a>
                |
                <a target="_blank" href="https://jameslange.github.io/cryptoapp">Live Demo</a>
              </div>
            </div>

            <div class="col-md-3 col-sm-2 mb-1">
              <h5 class="text-size-25">Crypto App</h5>
              <img src="images/projects/cryptoapp.png" class="img-responsive" alt="Project Screenshot" />
              <div class="d-flex flex-column justify-content-center align-items-center">
                <a target="_blank" href="https://github.com/jameslange/crypto-app-1">Github Repository</a>
                |
                <a  target="_blank" href="https://jameslange.github.io/crypto-app-1">Live Demo</a>
              </div>
            </div>

           

            <div class="col-md-3 col-sm-2 mb-1">
              <h5>FlashCard App</h5>
              <img src="images/projects/flashcard.png" class="img-responsive" alt="Project Screenshot" />
              <div class="d-flex flex-column justify-content-center align-items-center w-100">
                <a target="_blank" class="text-primary" href="https://github.com/jameslange/flashcard-app">Github Repository</a>
                |
                <a target="_blank"href="https://jameslange.github.io/flashcard-app/">Live Demo</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-2 mb-1">
              <h5>Recipe App</h5>
              <img src="images/projects/nutritionapp.png" class="img-responsive" alt="Project Screenshot" />
              <div class="d-flex flex-column justify-content-center align-items-center">
                <a target="_blank" href="https://github.com/jameslange/nutritionApp">Github Repository</a>
                |
                <a target="_blank"href="https://jameslange.github.io/nutritionApp/">Live Demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <div class="col-md-offset-1 col-md-10 col-sm-12">
      <div class="blog-post-thumb">
           <div class="blog-post-image">
                <a href="single-post.html">
                     <img src="images/blog-image1.jpg" class="img-responsive" alt="Blog Image">
                </a>
           </div>
           <div class="blog-post-title">
                <h3><a href="single-post.html">We Help You Create Perfect Modern Design</a></h3>
           </div>
           <div class="blog-post-format">
                <span><a href="#"><img src="images/author-image1.jpg" class="img-responsive img-circle"> Jen Lopez</a></span>
                <span><i class="fa fa-date"></i> July 22, 2017</span>
                <span><a href="#"><i class="fa fa-comment-o"></i> 35 Comments</a></span>
           </div>
           <div class="blog-post-des">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <a href="single-post.html" class="btn btn-default">Continue Reading</a>
           </div>
      </div> -->
    <!-- Footer Section -->

    <%- include('../partials/footer')%>
    <!-- Back top -->
    <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

    <!-- SCRIPTS -->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.parallax.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://kit.fontawesome.com/4210f2aac8.js" crossorigin="anonymous"></script>
  </body>
</html>
