<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Contact</title>
    <!--

Template 2085 Neuron

http://www.tooplate.com/view/2085-neuron

-->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <!-- PRE LOADER -->

    <div class="preloader">
      <div class="sk-spinner sk-spinner-wordpress">
        <span class="sk-inner-circle"></span>
      </div>
    </div>

    <!-- Navigation section  -->

    <%- include('../partials/nav', {page:'contact'})%>

    <!-- Home Section -->

    <section id="home" class="main-contact parallax-section">
      <div class="overlay"></div>
      <div class="container"></div>
    </section>

    <!-- Contact Section -->

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 col-sm-12">
            <h2>Say hello..</h2>
            <p>You can use the contact form below to get in touch with me. I look forward to hearing from you!</p>

            <form action="#" method="POST">
              <div class="col-md-4 col-sm-4">
                <input name="name" type="text" class="form-control" id="name-input" placeholder="Name" />
              </div>
              <div class="col-md-4 col-sm-4">
                <input name="email" type="email" class="form-control" id="email-input" placeholder="Email" />
              </div>
              <div class="col-md-4 col-sm-4">
                <input name="subject" type="text" class="form-control" id="subject-input" placeholder="Subject" />
              </div>
              <div class="col-md-12 col-sm-12">
                <textarea
                  name="message"
                  rows="5"
                  class="form-control"
                  id="message-input"
                  placeholder="Message"
                ></textarea>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="g-recaptcha" data-sitekey="6LdeB24eAAAAAKNJLgs8Ybx1TMy5JSVu7E_lW8hj"></div>
                <input name="submit" type="submit" class="form-control" id="submit-button" value="Send" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->

    <%- include('../partials/footer')%>

    <!-- Back top -->
    <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

    <!-- SCRIPTS -->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.parallax.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://kit.fontawesome.com/4210f2aac8.js" crossorigin="anonymous"></script>
    <script>
      // $(window).on("load", function () {
      //   $("body").addClass("loaded");
      // });

      // const onloadCallback = () => {
      //   alert("captcha is ready");
      // };
      const nameInput = document.querySelector("#name-input");
      const emailInput = document.querySelector("#email-input");
      const subjectInput = document.querySelector("#subject-input");
      const messageInput = document.querySelector("#message-input");
      const submitButton = document.querySelector("#submit-button");
      const myRecaptcha = document.querySelector(".g-recaptcha");

      const captchaWidget = grecaptcha.render(myRecaptcha, {
        sitekey: "6LdeB24eAAAAAKNJLgs8Ybx1TMy5JSVu7E_lW8hj",
        theme: "light",
      });
      // add click event to submit button
      submitButton.addEventListener("click", async (e) => {
        // tp prevent the page to be reloaded on button click
        e.preventDefault();
        const reCaptchaResponse = grecaptcha.getResponse(captchaWidget);
        console.log(reCaptchaResponse);
        const data = {
          name: nameInput.value,
          email: emailInput.value,
          subject: subjectInput.value,
          message: messageInput.value,
          recaptchaResponse: reCaptchaResponse,
        };

        try {
          const response = await fetch("/contact", {
            method: "POST",
            headers: {
              "content-type": "application/json",
            },
            body: JSON.stringify(data),
          });

          // console.log(response);
          // console.log(response.body);
          const answer = await response.json();
          // deal with the answer

          if (answer.result === "success") {
            alert("The email was sent successfully");
          } else {
            alert("Something went wrong, try  again");
          }
          clearForm();
        } catch (error) {
          console.log(error);
        }
      });
      function clearForm() {
        (nameInput.value = ""), (emailInput.value = ""), (subjectInput.value = ""), (messageInput.value = "");
      }
    </script>
  </body>
</html>
