<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eleganter - New Amazing HTML5 Template</title>
    <link rel="stylesheet" href="css/components.css" />
    <link rel="stylesheet" href="css/icons.css" />
    <link rel="stylesheet" href="css/responsee.css" />
    <link rel="stylesheet" href="owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="owl-carousel/owl.theme.css" />
    <link rel="stylesheet" href="css/template-style.css" />
    <link rel="stylesheet" href="captcha.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>

  <body onload="generateCaptcha();" class="size-1140">
    <%- include('../partials/nav', {page:'contact'})%>
    <!-- MAIN -->
    <main role="main">
      <!-- Content -->
      <article>
        <header class="section background-dark">
          <div class="line">
            <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">Contact Us</h1>
            <p class="margin-bottom-0 text-size-16">
              Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
              eu feugiat nulla facilisis.<br />
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
            </p>
          </div>
        </header>
        <div class="section background-white">
          <div class="line margin-bottom-60">
            <div class="margin">
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <div class="padding-2x block-bordered border-radius">
                  <div class="float-left hide-s">
                    <i class="icon-sli-location-pin icon3x text-primary"></i>
                  </div>
                  <div class="margin-left-70 margin-s-left-0 margin-bottom">
                    <h3 class="margin-bottom-0">Company Address</h3>
                    <p>
                      Responsive Street 7<br />
                      London / UK / Europe
                    </p>
                  </div>
                </div>
              </div>
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <div class="padding-2x block-bordered border-radius">
                  <div class="float-left hide-s">
                    <i class="icon-sli-envelope icon3x text-primary"></i>
                  </div>
                  <div class="margin-left-70 margin-s-left-0 margin-bottom">
                    <h3 class="margin-bottom-0">E-mail</h3>
                    <p>
                      contact@sampledomain.com<br />
                      office@sampledomain.com
                    </p>
                  </div>
                </div>
              </div>
              <div class="s-12 m-12 l-4 margin-m-bottom">
                <div class="padding-2x block-bordered border-radius">
                  <div class="float-left hide-s">
                    <i class="icon-sli-phone icon3x text-primary"></i>
                  </div>
                  <div class="margin-left-70 margin-s-left-0">
                    <h3 class="margin-bottom-0">Phone Numbers</h3>
                    <p>
                      <span class="text-primary">Infoline: 0800 4521 800 50</span><br />
                      Office: 0450 5896 625 16<br />
                      Office 2: 0798 6546 465 15
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="line">
            <div class="margin">
              <!-- Contact Form -->
              <div class="s-12 m-12 l-6">
                <h2 class="margin-bottom-10">Leave Message</h2>
                <form name="contactForm" class="customform" method="POST">
                  <div class="line">
                    <div class="margin">
                      <div class="s-12 m-12 l-6">
                        <input
                          name="email"
                          class="required email"
                          placeholder="Your e-mail"
                          title="Your e-mail"
                          type="email"
                          id="email-input"
                          required
                        />
                        <p class="email-error form-error">Please enter your e-mail.</p>
                      </div>
                      <div class="s-12 m-12 l-6">
                        <input
                          name="name"
                          id="name-input"
                          class="name"
                          placeholder="Your name"
                          title="Your name"
                          type="text"
                          required
                        />
                        <p class="name-error form-error">Please enter your name.</p>
                      </div>
                    </div>
                  </div>
                  <div class="s-12">
                    <input
                      name="subject"
                      id="subject-input"
                      class="subject"
                      placeholder="Subject"
                      title="Subject"
                      type="text"
                      required
                    />
                    <p class="subject-error form-error">Please enter the subject.</p>
                  </div>
                  <div class="s-12">
                    <textarea
                      name="message"
                      id="message-input"
                      class="required message"
                      placeholder="Your message"
                      rows="3"
                    ></textarea>
                    <p class="message-error form-error">Please enter your message.</p>
                  </div>
                  <div class="full-row">
                    <div class="captcha_outer flex-row">
                      <div class="captcha_output">
                        <input type="text" id="Captcha" readonly />
                      </div>
                      <div class="captcha_gen">
                        <button id="refresh" onclick="generateCaptcha();">Refresh</button>
                      </div>
                    </div>
                    <div class="captcha_valid flex-row">
                      <div class="fillcaptcha"><input type="text" id="txtInput" /></div>
                      <div class="valid_captcha">
                        <button id="CheckCaptcha" onclick="CheckValidCaptcha();">Check</button>
                      </div>
                    </div>
                    <div class="valid-msg-error">
                      <span id="error" style="color: red"></span>
                      <span id="success" style="color: green"></span>
                    </div>
                  </div>
                  <div class="s-12">
                    <button
                      id="submit-button"
                      class="s-12 submit-form button background-primary text-white"
                      type="submit"
                    >
                      Submit Button
                    </button>
                  </div>
                </form>
              </div>
              <div class="s-12 m-12 l-4">
                <h2 class="margin-bottom-10">Office Hours</h2>
                <div class="s-6">
                  <p class="text-size-16">
                    Monday<br />
                    Tuesday<br />
                    Wednesday<br />
                    Thursday<br />
                    Friday<br />
                    Saturday<br />
                    Sunday
                  </p>
                </div>
                <div class="s-6">
                  <p class="text-size-16 text-strong">
                    08.00-18.00<br />
                    08.00-18.00<br />
                    08.00-18.00<br />
                    08.00-18.00<br />
                    08.00-14.00<br />
                    08.00-14.00<br />
                    Close
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer')%>

    <script type="text/javascript" src="js/responsee.js"></script>
    <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="js/template-scripts.js"></script>
    <script>
      // $(window).on("load", function () {
      //   $("body").addClass("loaded");
      // });

      const onloadCallback = () => {
        alert("captcha is ready");
      };
      const nameInput = document.querySelector("#name-input");
      const emailInput = document.querySelector("#email-input");
      const subjectInput = document.querySelector("#subject-input");
      const messageInput = document.querySelector("#message-input");
      const submitButton = document.querySelector("#submit-button");

      // add click event to submit button
      submitButton.addEventListener("click", async (e) => {
        // tp prevent the page to be reloaded on button click
        e.preventDefault();

        const data = {
          name: nameInput.value,
          email: emailInput.value,
          subject: subjectInput.value,
          message: messageInput.value,
        };

        // send data using GET request
        // www.ff.com/?name=ahmad&email=sss@ff.com&
        try {
          const response = await fetch("/contact", {
            method: "POST",
            headers: {
              "content-type": "application/json",
            },
            body: JSON.stringify(data),
          });
          console.log(data);
          // console.log(response);
          // console.log(response.body);
          const answer = await response.json();
          // deal with the answer
          console.log(answer);
        } catch (error) {
          console.log(error);
        }
      });
    </script>
    <script type="text/javascript">
      function generateCaptcha() {
        var alpha = new Array(
          "A",
          "B",
          "C",
          "D",
          "E",
          "F",
          "G",
          "H",
          "I",
          "J",
          "K",
          "L",
          "M",
          "N",
          "O",
          "P",
          "Q",
          "R",
          "S",
          "T",
          "U",
          "V",
          "W",
          "X",
          "Y",
          "Z",
          "a",
          "b",
          "c",
          "d",
          "e",
          "f",
          "g",
          "h",
          "i",
          "j",
          "k",
          "l",
          "m",
          "n",
          "o",
          "p",
          "q",
          "r",
          "s",
          "t",
          "u",
          "v",
          "w",
          "x",
          "y",
          "z"
        );
        var i;
        for (i = 0; i < 5; i++) {
          var a = alpha[Math.floor(Math.random() * alpha.length)];
          var b = alpha[Math.floor(Math.random() * alpha.length)];
          var c = alpha[Math.floor(Math.random() * alpha.length)];
          var d = alpha[Math.floor(Math.random() * alpha.length)];
          var e = alpha[Math.floor(Math.random() * alpha.length)];
        }
        var code = a + "" + b + "" + "" + c + "" + d + "" + e;
        document.getElementById("Captcha").value = code;
      }
      function CheckValidCaptcha() {
        var string1 = removeSpaces(document.getElementById("Captcha").value);
        var string2 = removeSpaces(document.getElementById("txtInput").value);
        if (string1 == string2) {
          document.getElementById("success").innerHTML = "Captcha is validated Successfully";
          //alert("Form is validated Successfully");
          return true;
        } else {
          document.getElementById("error").innerHTML = "Please enter a valid captcha.";
          //alert("Please enter a valid captcha.");
          return false;
        }
      }
      function removeSpaces(string) {
        return string.split(" ").join("");
      }
    </script>
  </body>
</html>
