<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Gallery</title>
    <!--

Template 2085 Neuron

http://www.tooplate.com/view/2085-neuron

-->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet" />
  </head>
  <body>
    <!-- PRE LOADER -->

    <div class="preloader">
      <div class="sk-spinner sk-spinner-wordpress">
        <span class="sk-inner-circle"></span>
      </div>
    </div>

    <!-- Navigation section  -->

    <%- include('../partials/nav', {page:'gallery'})%>

    <!-- Home Section -->

    <section id="home" class="main-gallery parallax-section">
      <div class="overlay"></div>
      <div class="container"></div>
    </section>

    <!-- Gallery Section -->

    <section id="gallery">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 col-sm-12">
            <h2>Pictures from Travelling</h2>
            <p>
              Traveling to experience other cultures and to see new things has been a motivation of mine for as long as
              I can remember. I enjoy hiking and the nature of each country that I travel to. In my previous career I
              worked as a tour guide doing seasonal trips across the United States, driving groups of tourists and
              guiding them through National Parks and cities throughout the U.S. During the off-season I spent my time
              traveling in Mexico, India, and Southeast Asia. This has given me a diverse perspective of the world and I
              am incredibly thankful for the opportunity to have had these experiences.
            </p>

            <span></span>

            <div class="col-md-6 col-sm-6">
              <div class="gallery-thumb">
                <a href="images/myPics/savanah.jpg" class="image-popup">
                  <img src="images/myPics/savanah.jpg" class="img-responsive" alt="Gallery Image" />
                </a>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="gallery-thumb">
                <a href="images/myPics/hike.jpg" class="image-popup">
                  <img src="images/myPics/hike.jpg" class="img-responsive" alt="Gallery Image" />
                </a>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="gallery-thumb">
                <a href="images/myPics/volcano2.jpg" class="image-popup">
                  <img src="images/myPics/volcano2.jpg" class="img-responsive" alt="Gallery Image" />
                </a>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="gallery-thumb">
                <a href="images/myPics/taj.jpg" class="image-popup">
                  <img src="images/myPics/taj.jpg" class="img-responsive" alt="Gallery Image" />
                </a>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="gallery-thumb">
                <a href="images/myPics/monumentvalley.jpg" class="image-popup">
                  <img src="images/myPics/monumentvalley.jpg" class="img-responsive" alt="Gallery Image" />
                </a>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="gallery-thumb">
                <a href="images/myPics/rice.jpg" class="image-popup">
                  <img src="images/myPics/rice.jpg" class="img-responsive" alt="Gallery Image" />
                </a>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="gallery-thumb">
                <a href="images/myPics/volcano.jpg" class="image-popup">
                  <img src="images/myPics/volcano.jpg" class="img-responsive" alt="Gallery Image" />
                </a>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="gallery-thumb">
                <a href="images/myPics/dakar.jpg" class="image-popup">
                  <img src="images/myPics/dakar.jpg" class="img-responsive" alt="Gallery Image" />
                </a>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="gallery-thumb">
                <a href="images/myPics/vietbike.jpg" class="image-popup">
                  <img src="images/myPics/vietbike.jpg" class="img-responsive" alt="Gallery Image" />
                </a>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="gallery-thumb">
                <a href="images/myPics/yos.jpg" class="image-popup">
                  <img src="images/myPics/yos.jpg" class="img-responsive" alt="Gallery Image" />
                </a>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="gallery-thumb">
                <a href="images/myPics/moto.jpg" class="image-popup">
                  <img src="images/myPics/moto.jpg" class="img-responsive" alt="Gallery Image" />
                </a>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="gallery-thumb">
                <a href="images/myPics/sunset.jpg" class="image-popup">
                  <img src="images/myPics/sunset.jpg" class="img-responsive" alt="Gallery Image" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->

    <%- include('../partials/footer')%>

    <!-- Back top -->
    <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

    <!-- SCRIPTS -->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <script src="js/jquery.parallax.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://kit.fontawesome.com/4210f2aac8.js" crossorigin="anonymous"></script>
  </body>
</html>
